<div class="container ng-cloak">
<!-- blog -->
  <h4>Blog</h4>
      <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Manage</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Blog List</h4>
        </div>
        <div class="modal-body">
        
         <div ng-controller="blog_controller as ctrl">
          <div class="panel panel-default">
              <div class="panel-heading"><span class="lead">Blog Creation Form </span></div>
              <div class="formcontainer">
                  <form ng-submit="ctrl.submit()" name="blogForm" class="form-horizontal">
                      <input type="hidden" ng-model="ctrl.blog.blog_id" />
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="title">blog Title</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.blog.title" id="title" class="title form-control input-sm" placeholder="Enter title" required ng-minlength="3"/>
                                  <div class="has-error" ng-show="blogForm.$dirty">
                                      <span ng-show="blogForm.title.$error.required">This is a required field</span>
                                      <span ng-show="blogForm.title.$error.minlength">Minimum length required is 3</span>
                                      <span ng-show="blogForm.title.$invalid">This field is invalid </span>
                                  </div>
                              <div>   <br></div>
                                  <div>
                                          <label class="col-md-2 control-lable" for="title">blog content</label></div>
                              </div>
                                <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.blog.content" id="title" class="title form-control input-sm" placeholder="Enter content" required ng-minlength="3"/>
                                  <div class="has-error" ng-show="blogForm.$dirty">
                                      <span ng-show="blogForm.content.$error.required">This is a required field</span>
                                      <span ng-show="blogForm.content.$error.minlength">Minimum length required is 3</span>
                                      <span ng-show="blogForm.content.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                         
                       <br>
<!--                       <div class="row"> -->
<!--                           <div class="form-group col-md-12"> -->
<!--                               <label class="col-md-2 control-lable" for="address">Blog Content</label> -->
<!--                               <div class="col-md-7"> -->
<!--                                   <input type="text" ng-model="ctrl.blog.blogContent" id="address" class="form-control input-sm" placeholder="Enter your Content. [This field is validation free]"/> -->
<!--                               </div> -->
<!--                           </div> -->
<!--                       </div> -->
 
                     <!--  <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="email">Email</label>
                              <div class="col-md-7">
                                  <input type="email" ng-model="ctrl.blog.email" id="email" class="email form-control input-sm" placeholder="Enter your Email" required/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.email.$error.required">This is a required field</span>
                                      <span ng-show="myForm.email.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div> -->
 
                      <div class="row">
                          <div class="form-actions floatRight">
                              <input type="submit"  value="{{!ctrl.blog.blog_id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="blogForm.$invalid">
                              <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="blogForm.$pristine">Reset Form</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
        
         <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>ID.</th>
                              <th>blog Title</th>
                               <th>blog Content</th>
                              <th width="20%"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="row in ctrl.blogs">
                              <td><span ng-bind="row.blog_id"></span></td>
                              <td><span ng-bind="row.title"></span></td>
                              <td><span ng-bind="row.content"></span></td>
                              <td>
                              <button type="button" ng-click="ctrl.edit(row.blog_id)" class="btn btn-success custom-width">Edit</button>  <button type="button" ng-click="ctrl.remove(row.blog_id)" class="btn btn-danger custom-width">Remove</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      
    </div>
  </div>
</div>          
                  
              </div>
</div>
