
<html>
  <head>  
    <title>AngularJS $http Example</title>  
    <style>
      .username.ng-valid {
          background-color: lightgreen;
      }
      .username.ng-dirty.ng-invalid-required {
          background-color: red;
      }
      .username.ng-dirty.ng-invalid-minlength {
          background-color: yellow;
      }
 
      .email.ng-valid {
          background-color: lightgreen;
      }
      .email.ng-dirty.ng-invalid-required {
          background-color: red;
      }
      .email.ng-dirty.ng-invalid-email {
          background-color: yellow;
      }
 
    </style>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <link href="<c:url value='/static/css/app.css' />" rel="stylesheet"></link>
  </head>
  <div class="container">
  <body ng-app="app" class="ng-cloak">
      <div class="generic-container" ng-controller="forum_controller as ctrl">
          <div class="panel panel-default">
              <div class="panel-heading"><span class="lead">Forum Creation Form </span></div>
              <div class="formcontainer">
                  <form ng-submit="ctrl.submit()" name="forumForm" class="form-horizontal">
                      <input type="hidden" ng-model="ctrl.forum.forum_id" />
                      <br>
                      <div class="container">
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="forumName">ForumName</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.forum.forumName" id="title" class="title form-control input-sm" placeholder="Enter Title" required ng-minlength="3"/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="forumForm.title.$error.required">This is a required field</span>
                                      <span ng-show="forumForm.title.$error.minlength">Minimum length required is 3</span>
                                      <span ng-show="forumForm.title.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                         
                       
                        <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="forumContent">Content</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.forum.forumContent" id="content" class="content form-control input-sm" placeholder="Enter content" required ng-minlength="3"/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="forumForm.content.$error.required">This is a required field</span>
                                      <span ng-show="forumForm.content.$error.minlength">Minimum length required is 3</span>
                                      <span ng-show="forumForm.content.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                       
                       
<!--                       <div class="row"> -->
<!--                           <div class="form-group col-md-12"> -->
<!--                               <label class="col-md-2 control-lable" for="address">Address</label> -->
<!--                               <div class="col-md-7"> -->
<!--                                   <input type="text" ng-model="ctrl.user.address" id="address" class="form-control input-sm" placeholder="Enter your Address. [This field is validation free]"/> -->
<!--                               </div> -->
<!--                           </div> -->
<!--                       </div> -->
 
<!--                       <div class="row"> -->
<!--                           <div class="form-group col-md-12"> -->
<!--                               <label class="col-md-2 control-lable" for="email">Email</label> -->
<!--                               <div class="col-md-7"> -->
<!--                                   <input type="email" ng-model="ctrl.user.email" id="email" class="email form-control input-sm" placeholder="Enter your Email" required/> -->
<!--                                   <div class="has-error" ng-show="myForm.$dirty"> -->
<!--                                       <span ng-show="myForm.email.$error.required">This is a required field</span> -->
<!--                                       <span ng-show="myForm.email.$invalid">This field is invalid </span> -->
<!--                                   </div> -->
<!--                               </div> -->
<!--                           </div> -->
<!--                       </div> -->
       <div class="container">
                      <div class="row">
                          <div class="form-actions floatRight">
                              <input type="submit"  value="{{!ctrl.forum.forum_id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="forumForm.$invalid">
                              <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="forumForm.$pristine">Reset Form</button>
                          </div>
                      </div>
                      </div>
                      <br>
                      </div>
                  </form>
              </div>
          </div>
          <div class="panel panel-default">
                <!-- Default panel contents -->
              <div class="panel-heading"><span class="lead">List of Forums </span></div>
              <div class="tablecontainer">
                 <div class="container">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>ID.</th>
                              <th>Forum Title</th>
                              <th>Forum Content</th>
                              <th>Action</th>
<!--                               <th>Email</th> -->
<!--                               <th width="20%"></th> -->
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="row in ctrl.forums">
                              <td><span ng-bind="row.forum_id"></span></td>
                              <td><span ng-bind="row.forumName"></span></td>
                              <td><span ng-bind="row.forumContent"></span></td>
<!--                               <td><span ng-bind="u.email"></span></td> -->
                              <td>
                              <button type="button" ng-click="ctrl.edit(row.forum_id)" class="btn btn-success custom-width">Edit</button>  <button type="button" ng-click="ctrl.remove(row.forum_id)" class="btn btn-danger custom-width">Remove</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              </div>
          </div>
      </div>
       </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
      <script src="<c:url value='/static/js/app.js' />"></script>
      <script src="<c:url value='/static/js/service/forum_service.js' />"></script>
      <script src="<c:url value='/static/js/controller/forum_controller.js' />"></script>
  </body>
</html>